.bookshelf{
	height: 800px;
	width: 1020px;
	background-image: url(images/bookshelf.jpg);
	background-repeat: no-repeat;
	background-position: center;
	left: 100px;
	top: 30px;
	position: relative;
}

.books{
	position: relative;
	top:50px;
	width: 1020px;
	height: 600px;
}

.introduction{
	margin-top: 80px;
	text-align: center;
	font-family: Arial;
	font-size: 30px;
	font-weight: 900;
	text-shadow: 1px 1px 3px white;
	color: #D09520;
}

/*img*/
.book{
	float: left;
	height: 190px;
	width: 320px;
	display: table;
	text-align: center;
}

.subBook{
	display: table-cell;
	vertical-align: top;
}

/*.subBook{
	display: table-cell;
	vertical-align: middle;
}*/

/*.subBook{
	display: table-cell;
	vertical-align: bottom;
}*/


